body {
	font-family: 'Lato', sans-serif;

	background-image: url("images/background.jpg");
	background-size: 600px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	position: fixed;
	left: 450px;

	font-size: 65px;	
	color: lightblue;
	white-space:nowrap;
}

section {
	width: 530px;
	position: relative;
	left: 570px;
	top: 150px;

	border: 1px solid lightgrey;
	border-radius: 20px;

	padding: 20px;

	overflow: hidden;
}

textarea {
	width: 520px;
	max-width: 520px;
	height: 200px;
	min-height: 100px;
	margin-bottom: 10px;
	display: block;

	border: 1px solid lightblue;
	border-radius: 5px;

	font-size: 18px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

#submit {
	font-size: 22px;

	border: 1px solid lightgrey;
	border-radius: 5px;
}

.disclaimer {
	clear: both;
}

#danger {
	color: red;
}

#danger_half {
	color: orange;
}

#safe {
	color: green;
}