* {
	font-size: 18px;
}

body {
	font-family: 'Lato', sans-serif;

	background: url("images/background.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	width: 100%;
	text-align: right;

	font-size: 4em;	
	color: lightblue;
}

section {
	position: relative;
	left: 50%;
	width: 45%;

	background-color: white;

	border: 1px solid lightgrey;
	border-radius: 20px;

	padding: 20px;

	overflow: hidden;
}

textarea {
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	margin-bottom: 10px;
	display: block;

	border: 1px solid lightblue;
	border-radius: 5px;
}

form div {
	clear: both;
	min-height: 10px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.green {
	color: green;
}

.red {
	color: red;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.submit {
	font-size: 22px;

	border: 1px solid lightgrey;
	border-radius: 5px;
}

.disclaimer {
	clear: both;
}

#url {
	width: 95%;
	height: 30px;
}

#danger {
	color: red;
}

#danger_half {
	color: orange;
}

#safe {
	color: green;
}